<footer class="footer-dark pt-5">
  <div class="container">
    <div class="row gy-4">

      <!-- Company -->
      <div class="col-lg-4">
        <h4 class="footer-logo">
          <img src="dist/assets/img/mcs-no-bg.png" style="width: 50px; height: 50px;" alt="Logo Mega Indo Sejahtera">
          Mega Indo Sejahtera</h4>
        <p class="footer-desc">
          Providing reliable cold storage and temperature-controlled logistics
          solutions to support food, pharmaceutical, and agricultural industries.
        </p>

        <div class="footer-social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/pt.megaindologistik/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/company/pt-mega-indo-logistik/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-x-twitter"></i></a>
        </div>
      </div>

      <!-- Useful Links -->
      <div class="col-lg-2 col-md-4">
        <h6 class="footer-title">Useful Links</h6>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <!-- Services -->
      <div class="col-lg-3 col-md-4">
        <h6 class="footer-title">Our Services</h6>
        <ul class="footer-links">
          <li><a href="#">Cold Storage Warehouse</a></li>
          <li><a href="#">Frozen & Chiller Storage</a></li>
          <li><a href="#">Cold Transportation</a></li>
          <li><a href="#">Inventory Monitoring</a></li>
          <li><a href="#">Supply Chain Support</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-lg-3 col-md-4">
        <h6 class="footer-title">Contact Us</h6>
        <ul class="footer-contact">
          <li>
            <i class="fa-solid fa-location-dot"></i>
            Cibitung, Bekasi – Indonesia
          </li>
          <li>
            <i class="fa-solid fa-phone"></i>
            +62 812 3456 7890
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>
            info@megaindosejahtera.com
          </li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Bottom -->
  <div class="footer-bottom mt-5">
    <div class="container text-center">
      <p class="mb-0">
        Cold Storage - Mega Indo Sejahtera ©Copyright 2026 All Rights Reserved.
      </p>
    </div>
  </div>
</footer>