<nav id="mainNavbar"
     class="navbar navbar-expand-lg navbar-dark navbar-custom position-absolute top-0 start-0 w-100">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#home">
      <img src="dist/assets/img/mcs-no-bg.png" width="80" alt="mcs">
    </a>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="nav" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav gap-3 align-items-lg-center">
        <li class="nav-item"><a class="nav-link" href="#why">Why MIS</a></li>
        <li class="nav-item"><a class="nav-link" href="pages/about.html">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="pages/service.html">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="pages/facilities.html">Facility</a></li>
        <li class="nav-item"><a class="nav-link" href="#client">Partners</a></li>
        <li class="nav-item"><a class="nav-link" href="pages/career.html">Careers</a></li>
        <li class="nav-item"><a class="nav-link" href="pages/contact.html">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="#iso">ISO</a></li>
        <li class="nav-item">
          <a class="btn btn-success p-3" href="https://wa.me/6281285014890" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl" style="color: #ffffff;"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>